/**
 * Config
 */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey: #999999;
  --brand-yellow: hsl(26, 100%, 55%);
  --brand-yellow-weak: hsl(26, 100%, 85%);
  --background-color: var(--white);
  --foreground-color: var(--black);
  --primary-color: var(--brand-yellow);
  --roundness: 0.5rem;
}

:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
}

/**
 * Global styles
 */

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  color: var(--foreground-color);
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--background-color), 0 0 0 4px #3a97f9;
}

/**
* Root elements
*/

button {
  font-family: "Kumbh Sans", sans-serif;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

a {
  border-radius: 2px;
  transition: box-shadow 200ms ease;
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  color: var(--light-grey);
  line-height: 1.5rem;
}

nav ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

/**
 * Components
 */

.cta {
  background-color: var(--cta-bg);
  color: var(--cta-color, --foreground-color);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: var(--roundness);
  box-shadow: 0px 14px 26px var(--cta-shadow);

  &.primary {
    --cta-bg: var(--primary-color);
    --cta-color: var(--foreground-color);
    --cta-shadow: var(--brand-yellow-weak);
  }
}

.heading-1 {
  font-size: 28px;
  margin: 0;
}

.body-text {
  font-size: 15px;
  line-height: 1.7em;
  margin: 0;
}

/**
 * Layout
 */
body {
  display: flex;
  justify-content: center;
}

.page {
  margin: 0;
  padding: 0 0 3rem;
  display: grid;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  max-width: 1115px;

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}

/**
 * Header
 */

header {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  align-items: center;
  gap: 1rem;
  padding: 24px;

  .hamburger-menu {
    width: 16px;
    height: 16px;
    background-image: url(../../images/icon-menu.svg);
    background-repeat: no-repeat;
  }

  .cart-button {
    justify-self: end;
  }

  .user-avatar {
    width: 24px;
    height: 24px;
    background-image: url(../../images/image-avatar.png);
    background-size: contain;
  }

  .main-navigation {
    a {
      font-size: 0.9375rem;
      color: var(--light-grey);
    }
  }
}

/**
 * Page
 */

.product-page {
  .content {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1.5rem;
  }

  .eyebrow {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    color: var(--light-grey);
  }

  .price-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    gap: 1rem;
    align-items: center;
    margin: var(--space-2) 0;

    .current-price {
      font-size: 28px;
      font-weight: 700;
      color: var(--black);
    }

    .discount {
      background-color: var(--foreground-color);
      border-radius: var(--roundness);
      color: var(--white);
      padding: 3px 10px;
      font-weight: 500;
      font-size: 15px;
    }

    .old-price {
      justify-self: flex-end;
      text-decoration: line-through;
      font-size: 17px;
      font-weight: 700;
      color: var(--light-grey);
    }
  }

  .quantity-picker {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: #efefef;
    border-radius: var(--roundness);
    font-size: 23px;
    font-weight: 700;

    button {
      font-size: 27px;
      font-weight: 700;
      color: var(--primary-color);
      padding: 8px 17px;
    }

    .value {
      justify-self: center;
      align-self: center;
      font-size: 17px;
    }
  }

  .cta {
    gap: 14px;
    .icon {
      width: 16px;
      svg {
        display: block;
        width: 100%;
        height: 100%;
        path {
          fill: var(--black);
        }
      }
    }
  }

  .product-page__image {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    > * {
      grid-area: stack;
    }

    img {
      width: 100%;
      height: auto;
    }

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;

      > * {
        flex: 0 1 auto;
      }
    }

    .product-page__image--prev,
    .product-page__image--next {
      width: 48px;
      height: 48px;
      background-color: var(--background-color);
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
      margin: 16px;
      padding: -16px;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);

      img {
        width: 13px;
        height: 16px;
      }
    }

    .product-page__image--prev {
      margin-left: 24px;
    }

    .product-page__image--next {
      margin-right: 24px;
    }
  }

  .product-page__info {
    padding: 0 1.5rem;
    display: grid;
    gap: 1rem;
    align-self: self-start;
  }
}

.tablet-portrait {
  display: none;
}

@media screen and (min-width: 768px) {
  .tablet-portrait {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  header {
    border-bottom: 1px solid #eee;
    padding: 0;
    gap: 3.25rem;
    height: 110px;

    .user-avatar {
      width: 3rem;
      height: 3rem;
    }
  }

  .main-navigation {
    ul {
      display: flex;
      gap: 2.1875rem; /* 35px */
    }
  }

  .page {
    .content {
      grid-template-columns: 1fr clamp(370px, 41vw, 575px);
      gap: 2rem;
      padding: 4rem 2rem;
    }

    .product-page__image {
      width: 100%;
      margin: 0;
      left: auto;
      right: auto;
      align-content: baseline;
    }

    .product-page__info {
      padding: 0;
    }
  }
}
